:root {
  --color-nord0: #2e3440;
  --color-nord1: #3b4252;
  --color-nord2: #434c5e;
  --color-nord3: #4c566a;
  --color-nord4: #d8dee9;
  --color-nord5: #e5e9f0;
  --color-nord6: #eceff4;
  --color-nord7: #8fbcbb;
  --color-nord8: #88c0d0;
  --color-nord9: #81a1c1;
  --color-nord10: #5e81ac;
  --color-nord11: #bf616a;
  --color-nord12: #d08770;
  --color-nord13: #ebcb8b;
  --color-nord14: #a3be8c;
  --color-nord15: #b48ead;
  --color-white: #fff;
  --color-bg: #f8f8f8;
  --color-toast-success: #0da84b;
  --color-toast-bg-success: #dbffe8;
  --color-toast-warning: #db8f32;
  --color-toast-bg-warning: #fbf2de;
  --color-toast-error: #be2130;
  --color-toast-bg-error: #ffebed;
  --color-question: #2363d0;
  --color-question-bg: #c6dbff;
  --color-answer: #d32d2d;
  --color-answer-bg: #fdd;
}

body {
  line-height: 1.7;
  font-size: 16px;
  color: var(--color-nord3);
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (min-width: 768px) {
  body {
      font-size: 18px;
  }
}

.container {
  width: min(90%, 760px);
  margin-inline: auto;
  padding: 80px 0;
}

.spacer {
  height: 64px;
}