.btn {
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-nord10);
  display: inline-grid;
  place-items: center;
  position: relative;
}

.btn img {
  width: 18px;
  height: 18px;
}

.btn-text {
 position: absolute;
 left: calc(100% + 8px);
 top: 50%;
 transform: translateY(-50%);
 white-space: nowrap;
 background-color: var(--color-nord3);
 font-size: 14px;
 color: var(--color-nord6);
 font-weight: bold;
 display: inline-block;
 padding: 2px 10px;
 border-radius: 6px;
 opacity: 0;
 transition: 0.2s;
 pointer-events: none;
 scale: 0.9;
}

@media (any-hover: hover) {
  .btn:hover .btn-text {
    opacity: 1;
    visibility: visible;
    scale: 1;
    transition-delay: 0.2s;
  }
  
}

.btn2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border-bottom: 2px solid var(--color-nord3);
  padding: 14px 0;
  font-weight: bold;
}

.btn2 img {
  width: 24px;
  height: 24px;
}

.btn3 {
  background-color: var(--color-nord6);
  width: 374px;
  padding: 18px 18px 18px 40px;
  border-radius: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn3-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn3-text,.btn3-text02 {
  font-weight: bold;
  line-height: 1;
}

.btn3-text {
  font-size: 20px;
}

.btn3-text02 {
  font-size: 14px;
}

.btn3-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-nord3);
  display: grid;
  place-items: center;
}

.btn3-icon img{
  width: 22px;
  height: 22px;
}

